.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}
@media only screen and (max-width:420px){

.btn-stick{

  position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
    z-index: 9999;
    background: #79c447;
}

.padding-0{
  padding: 0 !important;
  }
  .tab-content .tab-pane{
    padding: 0 !important;
  }
.align-center{
  text-align: center;
  margin-left: 8px;
}
.pad-left-20{
  padding-right: 20px !important;
}


}



@media only screen and (width: 1024px){

    .tab-content .tab-pane{
      padding: 0 !important;
    }
}
@media (max-width: 991px){
  .app-header.navbar .navbar-brand{
  position: static !important;
 margin-left: 0px !important;
}
}