<header class="app-header navbar">
  <h6 style="padding-left:25px;">Complaint Dashboard</h6>
  <ul class="nav navbar-nav ml-auto">
    
    <li class="nav-item dropdown" dropdown placement="bottom right"  >
      
        <a class="dropdown-item"  [routerLink]="['/login']" > Log Out</a>
   
    </li>
  </ul>
</header>
<div class="app-body">
  
  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb mb-0">
      <!--<app-breadcrumbs></app-breadcrumbs>-->
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

</div>
<footer class="app-footer">

</footer>
