// Margin and Padding

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {

        .#{$abbrev}#{$infix}-#{$size}  { #{$prop}:        $length !important; }
        .#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top:    $length !important; }
        .#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right:  $length !important; }
        .#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: $length !important; }
        .#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left:   $length !important; }
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
          #{$prop}-left:  $length !important;
        }
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top:    $length !important;
          #{$prop}-bottom: $length !important;
        }
      }
    }

    // Some special margin utils
    .m#{$infix}-auto  { margin:        auto !important; }
    .mt#{$infix}-auto { margin-top:    auto !important; }
    .mr#{$infix}-auto { margin-right:  auto !important; }
    .mb#{$infix}-auto { margin-bottom: auto !important; }
    .ml#{$infix}-auto { margin-left:   auto !important; }
    .mx#{$infix}-auto {
      margin-right: auto !important;
      margin-left:  auto !important;
    }
    .my#{$infix}-auto {
      margin-top:    auto !important;
      margin-bottom: auto !important;
    }
  }
}

.p0{
  padding:0px !important;
}
.pt0{
  padding-top:0px !important;
}
.pr0{
  padding-right:0px !important;
}
.pl0{
  padding-left:0px !important;
}
.pb0{
  padding-bottom:0px !important;
}
.p10{
  padding:10px !important;
}


.pt10{
  padding-top:10px !important;
}

.pr10{
  padding-right:10px !important;
}
.pl10{
  padding-left:10px !important;
}
.pl20{
  padding-left:20px !important;
}
.pb10{
  padding-bottom:10px !important;
}
.pr35{
  padding-right: 35px !important;
}


.m0{
  margin:0px !important;
}
.mt0{
  margin-top:0px !important;
}
.mr0{
  margin-right:0px !important;
}
.ml0{
  margin-left:0px !important;
}
.mb0{
  margin-bottom:0px !important;
}
.ml5{
  margin-left: 5px !important;
}
.m10{
  margin:10px !important;
}
.mt10{
  padding-top:10px !important;
}
.mr10{
  margin-right:10px !important;
}
.ml10{
  margin-left:10px !important;
}
.mb10{
  margin-bottom:10px !important;
}
.mr15{
  margin-right:15px !important;
}
.mt20{
  margin-top: 20px !important;
}