<div class="app flex-row align-items-center">
  <div class="container" style="padding-top:20px;">


    <form [hidden]="formActionCompleted" #captchaProtectedForm="ngForm" [formGroup]="registrationForm" (ngSubmit)="registration(registrationForm.value)">

      <div class="row justify-content-center">


        <div class="col-md-10">
          <div class="card-group mb-0">
            <div class="card">
                <div *ngIf="error && !registered" class="alert alert-danger">{{error}}</div>
                <div *ngIf="registered" class="alert alert-success">You have registed succesfully click here to <a [routerLink]="['/login']" > login </a> </div>
              <div class="card-body" >
                <h1>Register</h1>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="userName">First Name</label>
                    <input type="text" class="form-control" id="userName" placeholder="Enter your name" formControlName="userName" [ngClass]="{'form-control-danger': !registrationForm.controls['userName'].valid && registrationForm.controls['userName'].touched, 'form-control-success': registrationForm.controls['userName'].valid && registrationForm.controls['userName'].touched}">
                    <span class="help-block error-block" [hidden]="!registrationForm.get('userName').hasError('required') || !registrationForm.get('userName').touched">Please enter First Name</span>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter your name" formControlName="lastName" [ngClass]="{'form-control-danger': !registrationForm.controls['lastName'].valid && registrationForm.controls['lastName'].touched, 'form-control-success': registrationForm.controls['lastName'].valid && registrationForm.controls['lastName'].touched}">
                    <span class="help-block error-block" [hidden]="!registrationForm.get('lastName').hasError('required') || !registrationForm.get('lastName').touched">Please enter Last Name</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter Email Address" formControlName="email" [ngClass]="{'form-control-danger': !registrationForm.controls['email'].valid && registrationForm.controls['email'].touched, 'form-control-success': registrationForm.controls['email'].valid && registrationForm.controls['email'].touched}">
                  <span class="help-block error-block" [hidden]="!registrationForm.get('email').hasError('required') || !registrationForm.get('email').touched">Please enter the valid email address</span>
                  <span class="help-block error-block" [hidden]="!registrationForm.get('email').hasError('email') || registrationForm.get('email').hasError('required')  || !registrationForm.get('email').touched">Invalid Email Address</span>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" formControlName="password" [ngClass]="{'form-control-danger': !registrationForm.controls['password'].valid && registrationForm.controls['password'].touched, 'form-control-success': registrationForm.controls['password'].valid && registrationForm.controls['password'].touched}">
                    <span class="help-block error-block" [hidden]="!registrationForm.get('password').hasError('required') || !registrationForm.get('password').touched">Please enter password</span>
                    <span class="help-block error-block" [hidden]="!registrationForm.get('password').hasError('passowrd') || registrationForm.get('password').hasError('required')  || !registrationForm.get('password').touched">Invalid Password</span>
                    <span class="help-block error-block" *ngIf="!registrationForm.controls['password'].valid && registrationForm.controls['password'].touched">Password must be at least 6 characters in length.</span>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword"
                      [ngClass]="{'form-control-danger': !registrationForm.controls['confirmPassword'].valid && registrationForm.controls['confirmPassword'].touched, 'form-control-success': registrationForm.controls['confirmPassword'].valid && registrationForm.controls['confirmPassword'].touched}">
                    <span class="help-block error-block" [hidden]="!registrationForm.get('confirmPassword').hasError('confirmPassword') || registrationForm.get('confirmPassword').hasError('required')  || !registrationForm.get('confirmPassword').touched">Invalid Password</span>
                    <small class="help-block error-block" *ngIf="( registrationForm.controls.confirmPassword.hasError('notSame') && registrationForm.controls['confirmPassword'].touched )">Passwords do not match</small>
                  </div>
                </div>

                <div></div>
                <button type="submit" class="btn btn-block btn-primary col-sm-4" [disabled]="!registrationForm.valid"> Submit </button>
                <div style="padding-top:15px"> do you already have an account? <a [routerLink]="['/login']">Login</a></div>
              </div>
            </div>
           </div>
        </div>
      </div>
    </form>
    
  </div>
</div>