<div class="col-sm-12">
<button *ngIf="user_type!='admin'" type="button" class="btn btn-primary" (click)="LodgeNewComplaint()" >Lodge Complaint</button>
<div class="col-sm-12" *ngIf="formOpen==true" style="padding-top:25px;">
  
    <form  class="col-sm-6" [formGroup]="lodgeComplaint" (ngSubmit)="LodgeComplaint(lodgeComplaint.value)">
      <div class="form-group" >
        <label for="heading">Heading</label>
        <input type="text" class="form-control" id="heading" formControlName="heading" />
      </div>
      <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="5" id="description" formControlName="description"></textarea>
        </div>
      
      
      <button type="submit" class="btn btn-primary" >Submit</button>
      <div class="btn btn-primary" (click)="backToComplaints()" >Back</div>
    </form>
    <div class="col-sm-6" *ngIf="complaintStatus"> 
      Complaint Successfully Submitted
    </div>


  </div>
<div class="col-sm-12" style="padding-top:20px;font-size:18px" *ngIf="noComplaints==true && formOpen==false"> No complaints are present <br> use 'Lodge Complaint' Button to lodge a complaint </div>
<div class="col-sm-12" *ngIf="formOpen==false && noComplaints==false">
    <table class="table table-striped table-responsive-md">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date Created </th>
          <th>Date updated</th>
          <th>Heading</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of compliantsArray">
          <td>{{ item.status }}</td>
          <td>{{ item.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ item.last_updated?item.last_updated:'NA' }}</td>
          <td>{{ item.heading }}</td>
          <td><a  [routerLink]="['/complaints/view/',item._id]">view</a></td>
          <!-- <td>{{ item.description }}</td> -->
        </tr>
        </tbody>
    </table>

   
    </div>
    </div>

