<div class="animated fadeIn">
<div class="col-sm-12">

<div class="col-sm-12">
    <div class="row" >
        <div class="cl-sm-2">Created : {{ complaint.date | date:'dd/MM/yyyy' }} </div>
        <div class="col-sm-3">Last Updated : {{ complaint.last_update?complaint.last_update:'NA' }} </div>
        <div class="col-sm-2">Status: {{ complaint.status }}</div>
        <button class="col-sm-2" type="button" class="btn btn-primary" (click)="addNewCommentBtn()" *ngIf="!showAddComment">Add Comment</button>
        <div class="col-sm-3" *ngIf="user_type=='admin'"><button  type="button" class="btn btn-primary" (click)="updateCommentBtn()" *ngIf="!showUpdateForm">Update Status</button></div>
         
    </div>
    
    </div>
    <div class="col-sm-4 alert alert-success" style="padding-top:20px" *ngIf="updateStatus">Status Updated Successfully</div>        
    <div class="row" *ngIf="showUpdateForm" style="padding-top:20px">
      <h4>Update Status </h4>
      <form class="col-sm-12" [formGroup]="statusUpdate" (ngSubmit)="UpdateStatus(statusUpdate.value)">
    <select  class="form-control col-sm-2" style="float:left" id="status" formControlName="status">
        <option [ngValue]="null">Select</option>     
      <option>Request</option>
            <option>Accepted</option>
            <option>Rejected</option>
            <option>Resolved</option>
            </select>
            
            <button  type="submit" class="btn btn-primary col-sm-2" >Update</button>
           
      </form>
    </div>        
    <div class="col-sm-12" *ngIf="showAddComment" style="padding-top:25px;">
            <form class="col-sm-6" [formGroup]="addComment" (ngSubmit)="addComments(addComment.value)">
                
                <div class="form-group">
                    <label for="Comment">Comment</label>
                    <textarea class="form-control" rows="5" id="comments" formControlName="comments"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
                <div class="btn btn-primary" (click)="backToview()" >Back</div>
              </form>
    </div>
    <div class="col-sm-12" *ngIf="noComments && !showAddComment" style="padding-top:50px;text-align:center"> <h4>No Comments Found</h4> </div>
        <table class="table table-striped table-responsive-md" *ngIf="!noComments && !showAddComment">
                <thead>
                  <tr>
                    <th>Comments</th>
                    <th>Date Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of complaint.comments">

                    <td>{{ item.description }}</td>
                    <td>{{ item.date_time }}</td>
                  </tr>
                  </tbody>
              </table>
</div>
</div>

