<div class="app flex-row align-items-center">
  <div class="container">



      <div class="row justify-content-center">
        <div class="col-md-8">
          <div *ngIf="error && !invalidLoginAttempt" class="alert alert-danger">{{error}}
         
          </div>

          <div class="card-group mb-0" >

            <div class="card p-2" *ngIf="loginUserMode=='login' && !invalidLoginAttempt">
                <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
              <div class="card-block">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>

                <div class="form-group">
                  <label class="form-control-label" for="username">User Name</label>
                  <div class="controls">
                    <div class="input-prepend input-group m0">
                      <input type="text" class="form-control no-right-radius" placeholder="Enter you email address" id="username"  formControlName="username"  [ngClass]="{'form-control-danger': !loginForm.controls['username'].valid && loginForm.controls['username'].touched,'form-control-success': loginForm.controls['username'].valid && loginForm.controls['username'].touched}" autocomplete="off">
                      

                    </div>
                    <span class="help-block error-block" [hidden]="!loginForm.get('username').hasError('required') || !loginForm.get('username').touched">Email address is required to proceed</span>
                    <span class="help-block error-block" [hidden]="!loginForm.get('username').hasError('email') || loginForm.get('username').hasError('required')  || !loginForm.get('username').touched">Email address is not right. Please try again.</span>

                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label" for="userpassword">Password</label>
                  <div class="controls">
                    <div class="input-prepend input-group m0">
                      <input type="password" class="form-control  no-right-radius" placeholder="Enter your password" id="userpassword"  formControlName="userpassword"  [ngClass]="{'form-control-danger': !loginForm.controls['userpassword'].valid && loginForm.controls['userpassword'].touched,'form-control-success': loginForm.controls['userpassword'].valid && loginForm.controls['userpassword'].touched}"   />
                      
                    </div>
                     <span class="help-block error-block" [hidden]="loginForm.controls['userpassword'].valid || !loginForm.controls['userpassword'].touched">Password is required to proceed</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary pointer col-sm-6" [disabled]="!loginForm.valid || loading" >Login</button>
                    <div style="padding-top:15px"> Don't have an account? <a [routerLink]="['/register']">Register</a></div>
                  </div>
                  
                </div>
                <hr/>
                  
              </div>
            </form>
            </div>
            
            
          </div>
        </div>
      </div>
  </div>
</div>
