// core overrides

$border-color:                      $gray-200;

// Navbar

$navbar-height:                     60px;

$navbar-brand-width:                250px;
$navbar-brand-bg:                   #fff;
$navbar-brand-logo-size:            55% 26px;
$navbar-brand-border: (
    bottom: (
        size:                       1px,
        style:                      solid,
        color:                      #e1e6ef
    )
//     , right: (
//     size:                       1px,
//     style:                      solid,
//     color:                      #e1e6ef
//   )

);

$navbar-color:                      $gray-300;
$navbar-hover-color:                darken($navbar-color, 10%);
$navbar-active-color:               darken($navbar-color, 20%);
$navbar-disabled-color:             lighter($navbar-color, 20%);

// Sidebar

$sidebar-width:                     250px;
$sidebar-bg:                        $gray-800;
$mobile-sidebar-width:              250px;

// Sidebar Navigation

$sidebar-nav-title-padding-y:       .95rem;
$sidebar-nav-title-color:           $text-muted;

$sidebar-nav-link-hover-bg:        $brand_color;

$sidebar-nav-link-active-bg:        $brand_color;

$sidebar-nav-dropdown-bg:          $brand_color;

// Breadcrumb

$breadcrumb-borders:                0;
