// Deloitte UI/UX changes
.card-header{
  background-color: #86bc25;
  color: #ffffff;
  font-size: 16px;
}
.sidebar .nav .nav-item .nav-link.active i{
  color:  #86bc25;
}

.color-light{
  color: #fff
}

.bg-title-1{
  background-color: #53565a
}

.nav-link.active {
  color: #86bc25 !important;
}

a{
  color: #000000;
}

.card-footer{
  text-align: center;
}


.sk-three-bounce .sk-child {
  background-color:  #86bc25;
}


.sidebar {
  background: #54565c;
}


.sidebar .nav .nav-item .nav-link.active, .sidebar .nav .nav-item .navbar .active.dropdown-toggle, .navbar .sidebar .nav .nav-item .active.dropdown-toggle {
  background: #44464c;
}
.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {

  background: #44464c !important;
}

table {
  thead{
    background: #54565c;
    color: #fff;
  }
}


.btn-transparent{
  .text-muted{
    color: #fff !important;
  }

  i{
    &.fa {
      color: #fff !important;
    }
  }
}

.card-body .p-3 {
  padding: 1rem !important;
  border-radius: 50%;
  .text-muted{
    padding-left:72px;
  }

}

.table tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}
.simple-table tbody tr:nth-of-type(even) {
  background-color: #fff;
}


.btn{
  &.primary {
    background: #21a8d9;
  }

  &.btn-outline-primary{
    color: #21a8d9;
  }
  &.btn-outline-primary:hover{
    color: #fff;
  }

  &.btn-success{
    background: #8abc25;
    color: #fff;
  }

  &.btn-outline-success{
    color: #8abc25;
  }

  &.btn-outline-success:hover{
    color: #fff;
    background-color: #8abc25;
    border-color: #8abc25;
  }



  &.btn-warning{
    background: #bbbcbc;
    border-color: #9faecb;
  }

}

.card-header{


  .btn-outline-primary{
      border: 1px solid #bfbdbd;
      color: #fff;
  }
}

.text-info{
  color:white !important;
}

.btn {
  border-radius: 5px;
}

.nav-pill{
  background-color: #86bc25 !important;
  color:#fff !important;
  border:none!important;
}

.app-header.navbar,.app-header.navbar .navbar-brand{
  background-color: #000 !important;

}
.app-header.navbar .navbar-brand{
  border-right:none !important;
  
}


.signdesk-branding span{
  color: #fff;
}


.header-block {
  color: #fff !important;
  background-color: #86bc25 !important;
  .text-success{
    color: #fff !important;
  }
}

